# Aircraft Engine Lifetime Prediction with Machine Learning

from https://github.com/luqmanbuang/Aircraft-Engine-Lifetime-Prediction-with-Machine-Learning

In [ ]:
import pandas as pd

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
df = pd.read_csv("./wheelAnalysis_modelTest_dataset.csv", dtype=object,
                 encoding="ISO-8859-1")
df.head()

  TrainsetVehicleNumber  ... Littera
0                 X3147  ...  X11-14
1                 X3147  ...  X11-14
2                 X3147  ...  X11-14
3                 X3147  ...  X11-14
4                 X3147  ...  X11-14

[5 rows x 18 columns]

In [ ]:
df.columns.tolist()

['TrainsetVehicleNumber',
 'VehicleNumber',
 'ComponentID',
 'ComponentUniqueID',
 'ComponentLocation',
 'VehicleOperatorName',
 'VehicleMaintenanceName',
 'maxActionDate',
 'maxTotalPerformanceSnapshot',
 'ActionCode',
 'ActionDate',
 'ActionDepot',
 'ComponentSerialNumber',
 'TotalPerformanceSnapshot',
 'TurningCode',
 'LeftWheelDiameter',
 'ComponentDescription',
 'Littera']

In [ ]:
drop_col = ['ComponentLocation', 'VehicleOperatorName', 'VehicleMaintenanceName', 'ComponentSerialNumber', 
            'TurningCode', 'ComponentDescription', 'ComponentID', 'ActionDepot', 'VehicleNumber']
df.drop(drop_col, axis=1, inplace=True)

In [ ]:
df.columns.tolist()
df.head()
df.shape

['TrainsetVehicleNumber',
 'VehicleNumber',
 'ComponentUniqueID',
 'maxActionDate',
 'maxTotalPerformanceSnapshot',
 'ActionCode',
 'ActionDate',
 'TotalPerformanceSnapshot',
 'LeftWheelDiameter',
 'Littera']

  TrainsetVehicleNumber VehicleNumber  ... LeftWheelDiameter Littera
0                 X3147         X3147  ...               920  X11-14
1                 X3147         X3147  ...             864.3  X11-14
2                 X3147         X3147  ...             879.8  X11-14
3                 X3147         X3147  ...             910.4  X11-14
4                 X3147         X3147  ...             898.8  X11-14

[5 rows x 10 columns]

(22018, 10)

In [ ]:
df.rename(columns={"TrainsetVehicleNumber": "a", "ComponentUniqueID": "b", "Littera": "c"}, inplace=True)

In [ ]:
df.columns.tolist()

['a',
 'VehicleNumber',
 'b',
 'maxActionDate',
 'maxTotalPerformanceSnapshot',
 'ActionCode',
 'ActionDate',
 'TotalPerformanceSnapshot',
 'LeftWheelDiameter',
 'c']

In [ ]:
df.sort_values(['b', 'ActionDate'], ascending=[True, True], inplace=True)
df.head()

        a VehicleNumber  ... LeftWheelDiameter       c
24  X3106         X3106  ...               918  X11-14
27  X3106         X3106  ...             903.5  X11-14
25  X3106         X3106  ...               878  X11-14
28  X3106         X3106  ...               920  X11-14
26  X3106         X3106  ...             914.9  X11-14

[5 rows x 10 columns]

In [ ]:
df['OMS'] = df['ActionCode']

In [ ]:
df['ActionCode'].value_counts()

0    22018
Name: ActionCode, dtype: int64

In [ ]:
#df.loc[df['OMS'] != 'OMS'] = int(0)
df.loc[df['OMS'] == 'OMS'] = int(1)
df['OMS'].value_counts()

0    22018
Name: OMS, dtype: int64

In [ ]:
df['Seq'] = df.groupby(['b','ActionCode']).cumcount().add(1)
df.head(10)

         a VehicleNumber        b  ... LeftWheelDiameter       c Seq
24   X3106         X3106  0000905  ...               918  X11-14   1
27   X3106         X3106  0000905  ...             903.5  X11-14   1
25   X3106         X3106  0000905  ...               878  X11-14   1
28   X3106         X3106  0000905  ...               920  X11-14   2
26   X3106         X3106  0000905  ...             914.9  X11-14   2
99   X3110         X3110  0000907  ...               867  X11-14   1
98   X3110         X3110  0000907  ...             858.5  X11-14   1
101  X3110         X3110  0000907  ...               920  X11-14   1
100  X3110         X3110  0000907  ...             903.1  X11-14   2
102  X3110         X3110  0000907  ...               875  X11-14   3

[10 rows x 11 columns]